.App {
  text-align: center;
  background-image: url('./greek_gods_back.jpg');
  background-size: contain;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading {

}

.god-container {
  font-family: cursive;
  color: white;
  display: flex;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.god-list {
  font-size: 200%;
  font-weight: 900;
  list-style: none;
}

.relative-list {
    font-size: 180%;
    font-weight: 700;
    list-style: none;
}

.emblem-list {
  font-size: 180%;
  font-weight: 700;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.god-sidebar {
  margin: 5%;
  margin-right: 10%;
}
.relatives {
  display: flex;
  justify-content: space-between;
}

.god-type {
 
}

.abode {

}

.god-type-abode {
  display: flex;
  font-size: 180%;
  font-weight: bold;
  justify-content: space-around;
}

.god-description {
  font-size: 150%;
  font-weight: 400;
}

.god-title {
  font-size: 400%;
  font-weight: 900;
};

.relative-type {
  font-size: 200%;
}

.create-god-button {
  background-color: antiquewhite;
  border-radius: 16px;
  font-size: 25px;
  color: black;
  font-family: cursive;
  font-weight: 900;
  padding: 10px;
}

.add-new-god {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-god-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-god-form > input, textarea {
  background-color: antiquewhite;
  border-radius: 10px;
  font-size: 20px;
}

.new-god-form > label > textarea {
  min-height: 300px;
}

.new-god-form > label > input {
  background-color: antiquewhite;
  border-radius: 10px;
  font-size: 20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
